{% extends '../base.html' %}
{% load static %}
{% block content %}

<h1 style="margin-left: 600px; margin-top: 40px;">Login</h1>

{% if user.is_authenticated %}
  <p class="text-center mt-4" style="margin-right: 150px;">You are already logged in!Click to <a href="{% url 'logout' %}">Logout</a></p>

{% else %}
  <p class="text-center mt-4" style="margin-right: 150px;">Don't Have an account? <a href="{% url 'register' %}">Register</a></p>

  
  <form method="POST">
    {% csrf_token %}
    {% include 'alert.html' %}
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="text" name="username" id="form2Example1" class="form-control" />
      <label class="form-label" for="form2Example1">Username</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" name="password" id="form2Example2" class="form-control" />
      <label class="form-label" for="form2Example2">Password</label>
    </div>
  
    <!-- Submit button -->
    <input type="submit" class="btn btn-primary mb-4">
  
  </form>
  {% endif %}
{% endblock %}